.container {
  max-width: 800px;
  padding: 0 1rem;
  margin: 3rem auto 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.footer {
  background: #f28f38;
  width: 100%;
  margin-top: 16rem;
  padding: 2rem 4rem 4rem 4rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer > div {
  flex-grow: 1;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footerHeading {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  color: #fff;
}

