.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card:hover {
  cursor: pointer;
}

.imageWrapper {
  height: 250px;
  position: relative;
}

.description {
  font-size: 1rem;
  font-weight: 300;
}

.title {
  font-size: 2rem;
  font-family: futura-pt,sans-serif;
}

.readMore {
  font-size: 0.9rem;
  color: #999;
  font-weight: 300;
  border-bottom: 1px solid #ddd;
  width: fit-content;
}

.imageWrapper, .dateWrapper, .title, .description, .readMore {
  margin-bottom: 1rem;
}