{{ define "main" }}
  <div class="about-image-wrapper">
    <img src="/images/pranjal-about.webp"
         alt="Portrait of Pranjal Dubey"
         class="about-image"
         width="200" height="300"
         loading="lazy">
  </div>

  <div class="about-text">
    <p>
      I am frontend developer (transitioning to full-stack) based out of
      Bangalore.
    </p>

    <p>
      I like reading just about anything interesting, traveling and
      capturing silhouettes during my free time.
    </p>

    <p>
      My mom&rsquo;s Pau Bhaji &amp; Pizza are life for me.
    </p>
  </div>
{{ end }}
