.aboutImageWrapper {
  position: relative;
  display: block;
  margin: 0% auto;
}

/* desktop */
@media all and (min-width: 768px) {
  .aboutImageWrapper {
    width: 50%;
  }
}


.aboutText {
  margin-top: 2rem;
}

.aboutText p {
  margin-bottom: 1rem;
}