html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.post-image-wrapper {
  margin: 4rem auto;
}

.post-top-image-wrapper {
  margin-top: 2rem;
}

.post-image {
  margin: 0% auto;
}

/* for desktops */
@media (min-width: 760px) {

  .post-image {
    max-height: 60vh;
  }
}

.post-image-caption {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 1rem;
}